:root{
    /*Light Mode Colours*/
    --background-light:rgb(241, 241, 241);
    --text-light:rgb(25, 25, 25); 
    --info-para-light:rgb(83, 83, 83);
    --tile-light:rgba(255, 255, 255, 0.9);
    --tile-border-light:rgb(225, 225, 225);
    --shadow-light:rgb(233, 233, 233);
    
    /*Dark Mode Colours*/
    --background-dark:rgb(10, 10, 10);
    --text-dark:rgb(239,239,239);
    --info-para-dark: rgb(161, 161, 161);
    --tile-dark:rgb(23, 23, 23);
    --tile-hover-dark:rgb(239, 239, 239);
    --tile-border-dark:rgb(38, 38, 38);
    --arrow-grey:rgb(35, 35, 35);
    --black:rgb(25, 25, 25);
    --hr-dark:rgb(239, 239, 239);
    --black-oled:rgb(0,0,0);

}

.btn {
    border-radius: 12px !important;
}

a {
    all: unset !important;
    ;
}

.cards {
    font-size: medium;
    border-radius: 20px;

    /* new added from blog site */
    transition: all 300ms ease-out;
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
}

.cards:hover {
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    transition-duration: 0.3s;
    transition: all 300ms ease-in;
    transform: scale(1.02);
}

.projects .cards img {
    max-height: 300px;
}

.child-box img {
    width: 250px;
}

.btn {
    margin: 0 3px !important;
}

.sibling-box {
    padding: 20px 0;
    margin: 20px 0 20px 20px;
    border-radius: 20px;
}

.carousel-item img {
    border-radius: 10px;
}

.arrow-left {
    border-radius: 100%;
    position: relative;
    bottom: -50%;
    right: 50%;
}

.arrow-right {
    border-radius: 100%;
    position: relative;
    bottom: -50%;
    left: 50%;
}

.footer {
    height: 50px !important;
}

.footer-hr {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    border: 3px solid transparent;
}

.hr-info{
    border: 1px solid transparent; 
}

@media (prefers-color-scheme: light) {

    body {
        background-color: var(--background-light) !important;
    }

    .para {
        color: var(--info-para-light);
    }

    .info-box {
        box-shadow: 0px 50px 70px var(--shadow-light);
    }

    .cards {
        background-color: var(--tile-light);
        color: var(--text-light);
        border: 2px solid var(--tile-border-light);
    }

    .btn:hover {
        border: 1px solid var(--black) !important;
    }

    .arrow-left, .arrow-right {
        background-color: var(--arrow-grey) !important;
        border: 3px solid var(--arrow-grey);
    }

    .footer-hr {
        border-color: var(--black-oled);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark) !important;
    }

    .para {
        color: var(--info-para-dark);
    }

    .cards {
        background-color: var(--tile-dark);
        color: var(--tile-hover-dark);
        border: 2px solid var(--tile-border-dark);
    }


    .btn:hover {
        border: 1px solid var(--black) !important;
    }

    .arrow-left,.arrow-right {
        background-color: var(--arrow-grey) !important;
        border: 3px solid var(--arrow-grey);
    }

    .footer-hr {
        border-color: var(--hr-dark);
    }

    .info-box button {
        border: 1px solid var(--black-oled) !important;
    }

    h1 {
        color: var(--text-dark);
    }

}